footer{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px 40px 5px 40px;
    background-color: yellow;
}
.jumbotron{
    margin-top: 50px;
    background-color: yellow;
    color: black;
}
.card-hotel{
    margin-top: 10px;
    /* padding: 2px 5px 2px 5px; lo quitamos al comenzar a trabajar con CARD por una cosa estetica */
    flex: 1 200px;
}
.card-questions{
    margin-top: 10px;
    padding: 2px 5px 2px 5px;
    flex: 1 150px;
}
.card-tarjetas{
    margin-top: 20px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px; /* para redondear las puntas del boton */
}
.footer-address-icon {
    margin-top: 4px;
    padding-right: 20px; /* ojo este es pading solo de lado derecho */
    color: brown;
}
.tab-content {
    padding-top: 10px;
}
#pintarActivo{
    font-style: italic;
    font-weight: bold;
    }
#pintarDesactivo{
    color: blue;
    text-decoration: underline;
    }